.calculadora {
  width: 100%;
  background-color: #464646;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 60px repeat(5, 40px);
  padding: 20px;
  border-radius: var(--border-radius);
  column-gap: 1em;
  row-gap: 1em;
  user-select: none;
}

.pantalla{
  background-color: #8CFA90;
  grid-column: span 4;
  display: flex;
  align-items: end;
  justify-content: flex-end;
  font-size: 32px;
}

.boton{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  background-color: #FF4D2E;
  color: white;
  cursor: pointer;
  height: 40px;
}

.boton:hover{
  background-color: #E04327;
}

/* Botones */
#clear {
  grid-column: span 3;
}

#backspace {
  grid-column: span 1;
}

#equals {
  grid-column: span 2;
}