.logros{
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  z-index: 1000;
  background-color: var(--primary);
  padding: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}

img.pardito-celebrando{
  height: 200px;
  width: auto;
}

.separador-dificultad{
  display: flex;
  align-items: start;
  justify-content: end;
  border-bottom: solid 5px var(--foreground);
}

.logro-vacio{
  height: 200px;
  width: auto;
  aspect-ratio: 1/1;
  background-color: rgba(128, 128, 128, 0.073);
  border-radius: 50%;
  box-shadow: 0px 0px 5px 5px rgba(128, 128, 128, 0.073);
}