.pardito{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
  padding: 5px 10px;
  border-bottom-right-radius: 250px;
  font-weight: bold;
  img{
    width: 100%;
    height: auto;
  }
}
