body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sandbox {
  width: 80vw;
  height: 100vh;
  position: relative;
}

.sidebar{
  height: 100vh;
  width: 20vw;
  background-color: var(--primary-color);
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 20px;
}

.suma{
  position: absolute;
  top: 10px;
  left: 50%;
  font-size: 58px;
  font-weight: bold;
  transform: translateX(-50%);
}

.pardito{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: var(--primary-color);
  width: 200px;
  height: 200px;
  padding: 5px 10px;
  border-bottom-right-radius: 250px;
  font-weight: bold;
  img{
    width: 100%;
    height: auto;
  }
}
